.Card-title-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 310.67px;
  height: 135px;
}

.Card-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 600;
  font-size: 27px;
  line-height: 42px;
  color: #2D2D2D;
  text-align: center;
}

.Card-description {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  color: #2D2D2D;
}
